body{
    background-color: black;
}

.TableContainer{
    background-image: url("../img/Task_2.png");
    background-position: -82px -43px;
    background-repeat: no-repeat;
    width: 888px;
    height: 521px;
}

.PriceTable{
    border-collapse: collapse;
}

/* Все заголовки столбиков*/
.ColumnHeader{
    background-color: #9edb23;
    border-radius: 4px 4px 0px 0px;
    font-family: 'Geologica', sans-serif;
    font-size: 16px;
    color: #f8fcee;
    text-shadow: -1px 1px 3px #ffffd9;
    height: 55px;
    width: 132px;
    vertical-align: center;
}

.ColumnHeader:first-child
{
    background-color: transparent;
    width: 144px;
}

.ColumnHeader:nth-child(3)
{
    width: 138px;
}

.ColumnHeader:nth-child(4)
{
    width: 141px;
}

.ColumnHeader:nth-child(4)
{
    width: 142px;
}

.RowHeader{
    border-radius: 4px 0px 0px 4px;
    background-color: #9edb21;
}

.PriceTable tr:nth-child(8){
    background-color: transparent;
}

.PriceTable tr:nth-child(8) th{
    background-color: transparent;
}

/* Все заголовки строк кроме первого и последнего */
.PriceTable tr:not(:first-child):not(:last-child) th{
    font-family: 'Geologica', sans-serif;
    font-size: 16px;
    color: #687560;
    padding-bottom: 5px;
    padding-right: 2px;
}
/* Последний заголовок строки*/
.PriceTable tr:last-child th{
    letter-spacing: 1px;
    font-family: 'Geologica', sans-serif;
    font-size: 16px;
    color: black;
    text-shadow: -1px 1px 3px rgba(185,180,154,0.3);
    padding-bottom: 6px;
    padding-right: 2px;
}

.PriceTable tr{
    height: 48px;
}

.PriceTable tr:nth-child(6){
    height: 62px;
}

.PriceTable tr:nth-child(7){
    height: 62px;
}

.PriceTable th{
    border: 1px solid #f7faf8;
}

.PriceTable td{
    border: 1px solid #f7faf8;
    background-color: #dff2ca;
    box-shadow: inset 0px 0px 8px 0px #e9f0e0;
    text-align: center;
    font-family: 'Geologica', sans-serif;
    font-size: 16px;
    color: #637459;
    text-shadow: -1px 0px 2px #A9C0BF;
}