
.palete {
    width: 1230px;
    height: 810px; 
    margin: 15px auto;
    border: 1px solid black;
    padding: 15px 5px 15px 15px;
}

.little{
    float: left;
    background-color: rgb(68, 0, 255);
    width: 200px;
    height: 200px;
}

.SquareWithoutBG{
    float: left;
    width: 400px;
    height: 400px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: black;
}

.SquareWithoutBG .little {
    height: 195px;
    width: 195px;
    margin-right: 5px;
    /* margin-bottom: 10px; */
}

.SquareWithoutBG .little:nth-child(2) {
    float: right;
    margin-left: 0px;
    margin-right: 0px;
}

.SquareWithoutBG .little:nth-child(3) {
    margin-top: 10px;
}

.Square{
    float: left;
    background-color: rgb(219, 32, 32);
    width: 400px;
    height: 400px;
    margin-right: 10px;
}

.ReactangleTwoRight{
    float: left;
    background-color: green;
    width: 400px;
    height: 195px;
    margin-top: 10px;
}

.ReactangleTwoDown{
    float: right;
    background-color: blueviolet;
    width: 195px;
    height: 400px;
}

.SquareWithoutBG .ReactangleTwoRight:nth-child(1){
    margin-top: 0px;
}


